* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  background-color: #F5F5F5;
}
.navbar,
.first-nav,
.second-nav,
.category,
.pages-menu,
.hero-section ,
.features, .categories-section,.above-categories{
  padding: 0 48px;
}
.first-nav {
  background-color: #e2e0e03e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-nav > .first-nav-left,
.first-nav > .first-nav-rigth {
  display: flex;
  gap: 10px;
}
.first-nav > .first-nav-left {
  color: #6c757d;
  cursor: pointer;
}
.first-nav-left > li a:hover {
  text-decoration: underline;
}

.list > div {
  display: flex;
  gap: 2px;
  background-color: white;
  font-size: 0.875rem;
  padding: 5px 10px;
  margin: 7px 0;
  cursor: pointer;
}
.list > div i {
  margin-left: 10px;
}
.list {
  position: relative;
}
.list > ul {
  position: absolute;
  top: 100%;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 5px 0;
}
.list ul > li {
  padding: 5px 5px;
}
.list ul > li:hover {
  background-color: #f8f9fa;
}
.list ul li:active {
  color: white;
  background-color: #ffd333;
}
.list div:hover {
  background-color: #ececec;
}
.list:hover > ul {
  display: block;
}
.menu1 {
  display: none;
}

.second-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.second-nav .logo > span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffd333;
  background-color: #3d464d;
  padding: 0.2rem 0.3rem;
}
.second-nav .logo > span:last-child {
  color: #3d464d;
  background-color: #ffd333;
}
.search form {
  display: flex;
}
.search input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  border: 1px solid #ced4da;
  width: 350px;
}
.search input:focus {
  border-color: #ffefb3;
  outline: 0;
}
.search button {
  background-color: white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffd333;
  border: 1px solid #ced4da;
  border-left: none;
}
.contact {
  padding-right: 48px;
}
.contact div:first-child {
  color: #6c757d;
}
.contact div:last-child {
  font-size: x-large;
  text-decoration: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3d464d;
  align-items: center;
}
.categories,
.menu,
.icons,
.small-menu,
.pages,
.categories > div,
.icons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.categories > div {
  gap: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.categories {
  gap: 10px;
  background-color: #ffd333;
  color: #3d464d;
  width: 100%;
  position: relative;
}
.categories:hover {
  background-color: #f4c92ecf;
}
.small-menu {
  gap: 20px;
  color: white;
  width: 100%;
}
.small-menu a:nth-child(3) {
  width: 87px;
}
.small-menu :hover {
  color: #ffd333;
}

.menu {
  gap: 30px;
}

.category,
.pages ul {
  display: none;
  z-index: 1;
}
.menu .small-menu .pages:hover ul {
  display: block;

}
.menu .categories:hover ul {
  display: block;
}
.categories > ul {
  position: absolute;
  top: 100%;
  background-color: white;
  color: gray;
  width: 60.5%;
}
.categories ul > li {
  display: flex;
  align-items: center;
  height: 50px;
}
.pages-menu {
  position: absolute;
  top: 190%;
  background-color: #ffd333;
  color: black;
  width: 150px;
}
.pages-menu > li {
  display: flex;
  align-items: center;
  height: 50px;
}
.pages {
  position: relative;
}

.icons {
  color: #ffd333;
  gap: 10px;
  padding-right: 48px;
}
.counter {
  color: white;
}
.cat-arrow {
  margin: 20px;
}

.hero-section {
  width: 1400px;
  height: 460px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  position: relative;
}
.rigth-part {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;

  
}
.left-part {
  position: relative;
  text-align: center;
  display: flex;
}
.rigth-part > div {
  position: relative;
  text-align: center;
}
.left-part > img {
  object-fit: cover;
  position: relative;
  
}
.rigth-small-part > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rigth-small-part{
  overflow: hidden;
}
.rigth-small-part:hover img {
transform: rotate(15deg) scale(1.5);
transition: 5s;
}
.over-left-part{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  
}
.over-left-part h1{
  font-size: 3.5rem;

}
.over-left-part button{
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: white;
  border:1px solid white;
  font-size: 1rem;

}
.over-rigth-part{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.over-rigth-part h3{
font-size: 2rem;
}
.over-rigth-part h6{
  font-size: 1rem;
}
.over-rigth-part > button{
  width: 130px;
  height: 40px;
  background-color: #ffd333;
  color:black;
  border:1px solid transparent;
  font-size: 1rem;
}


.features{
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 70px;
  height: 90px;
  padding-right: 68px;
}
.features > div{
  padding-top: 20px;
  background-color: white;
  font-size: 1rem; 
  font-weight: 700;
  text-align: center;
  justify-content: center;
  

}
.features div i{
  font-size: 2rem;
  color: #ffd333;
}
.features div div{
  margin-left: 10px;
  display: inline;
  font-size: 1.2rem;
}
.above-categories{
  padding-top: 100px
}
.above-categories h1{
  text-transform: uppercase;
    color: #3D464D;
    position: relative;

}
.above-categories h1::after{
  position: absolute;
    content: "";
    width: 100%;
    top: 50%;
    left: 210px;
    border-top: 1px dashed #bec5cb;
}


.categories-section{
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  width: 1400px;
  height: 400px;
  column-gap: 30px;
  row-gap: 50px;
  padding-right: 0;
  margin-right: 0;
  position: absolute;
}
.categories-section > div{
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 150px;
  overflow: hidden;
}
.card .card-img{
  object-fit: cover;
  width: 140px;
  overflow: hidden;
}

.card img:hover{
    transform: rotate(15deg) scale(1.5);
    transition: 5s;
}
.card > .card-disc{
  padding-right: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  height: 150px;
  overflow: hidden;
}
.card div h4{
  color: #495057;
}
.card .card-disc:hover{
  background-color: #ffd333;
}

@media only screen and (max-width: 900px) {
  .hero-section{
    grid-template-columns: 1fr;
    width:fit-content;
    height: fit-content;
    position: relative;
    row-gap: 30px;

  }
  .hero-section img{
    object-fit: cover;
    height: 200px;
    width: 450px;
  }
  .over-left-part h1{
    font-size: 2rem;
    }
    .over-left-part p{
      font-size: 0.7rem;
    }
    .over-left-part > button{
      width: 130px;
      height: 40px;
      background-color: #ffd333;
      color:black;
      border:1px solid transparent;
      font-size: 1rem;
    }
    .over-left-part{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  .categories-section{
    grid-template-columns: 1fr;
    width: fit-content;
    margin-left: 48px;
  }
  .features{
    grid-template-columns: 1fr;
    position: relative;
    height: 300px;
    margin-top: 50px;
  }

  .second-nav .logo > span{
    font-size :2rem;
    display: inline;
  }
  .search,.first-nav-rigth > div,.icons,  .small-menu{
    display: none;
  }
  
  .first-nav-left {
    padding-left: 90px;
  }
  .categories{
    width: 450px;
  }
  .category{
    width: 450px;
  }
  
}